@import "variables";

#div-header {
  position: fixed;
  background-color: $color-primary;
  color: $color-light;

  #div-header-brand-toggler {
    .brand {
      cursor: pointer;

      img {
        width: $div-header-height - 4px;
        height: $div-header-height - 4px;
        margin: 2px;
        background-color: $color-light;
      }
    }
    .toggler {
      cursor: pointer;
      width: $div-header-height - 4px;
      height: $div-header-height - 4px;
      margin: 0;
      padding: 0;
    }
  }

  .nav {
    .nav-item {
      .nav-link {
        padding-right: 8px;
        padding-left: 8px;
        color: $color-shadow;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      &.dropdown {
        .avatar {
          width: 24px;
          height: 24px;
          vertical-align: top;
          background-color: $color-light;
        }

        .flag {
          width: 34px;
          height: 20px;
          margin-top: 2px;
          vertical-align: top;
          background-color: $color-light;
        }

        > .nav-link {
          &.dropdown-toggle::after {
            display: inline-block;
            width: 16px;
            height: 100%;
            margin: 0;
            padding: 0;
            vertical-align: 0;
            border: none;
            font: normal normal normal 14px/1 FontAwesome;
            text-align: center;
            text-rendering: auto;
            content: "\f104";
          }
        }

        &.show {
          > .nav-link {
            color: $color-light;

            &.dropdown-toggle::after {
              content: "\f107";
            }
          }
        }

        > .dropdown-menu {
          margin: 0;
          padding: 4px 0;
          background-color: $color-secondary;
          border-color: $color-border;
          border-top: none;
          border-top-right-radius: 0;
          border-top-left-radius: 0;

          .dropdown-item {
            margin: 0;
            padding: 4px 16px;
            color: $color-primary;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
