{% load i18n %}

<div class="modal-dialog">
    <div class="modal-content">
        <form method="post" action="{% url "home:login_forgot_credential_2" pk=ctx_form.instance.pk %}{% if ctx_tab_localuserlogin_forgot_credential == True %}?tab_localuserlogin_forgot_credential=True{% else %}{% if ctx_tab_ldapuserlogin_forgot_credential == True %}?tab_ldapuserlogin_forgot_credential=True{% endif %}{% endif %}" class="link-div-modal-modal-action-submit-keep-div-modal">
            {% csrf_token %}
            <div class="modal-header d-flex flex-row justify-content-between">
                <p class="modal-title align-self-center"><i class="fa fa-user"></i> {% trans "SECURITY_LOGIN_FORGOT_CREDENTIAL" %} {% if ctx_tab_localuserlogin_forgot_credential == True %}&OpenCurlyDoubleQuote;{% trans "SECURITY_LOGIN_FORGOT_CREDENTIAL_LOCALUSER" %}&CloseCurlyDoubleQuote;{% else %}{% if ctx_tab_ldapuserlogin_forgot_credential == True %}&OpenCurlyDoubleQuote;{% trans "SECURITY_LOGIN_FORGOT_CREDENTIAL_LDAPUSER" %}&CloseCurlyDoubleQuote;{% endif %}{% endif %}</p>
                <button type="button" class="btn btn-sm btn-action btn-action-outline align-self-center link-div-modal-modal-action-close" title="{% trans "SECURITY_ACTION_CLOSE" %}"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body">
                <!-- Modal Menssage -->
                <div class="modal-message"></div>
                <!-- Modal Form Field -->
                <div class="modal-form">
                    {% with ctx_field=ctx_form.email %}
                        {% include "home/_include_/div_modal/_include_/form/textfield/textfield.html" %}
                    {% endwith %}
                    {% with ctx_field=ctx_form.code_confirmation %}
                        {% include "home/_include_/div_modal/_include_/form/textfield/textfield.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="modal-footer d-flex flex-row justify-content-between">
                <div>
                    <button type="submit" class="btn btn-sm btn-action btn-action-bg" title="{% trans "SECURITY_ACTION_SUBMIT" %}">
                        <i class="fa fa-send"></i> {% trans "SECURITY_ACTION_SUBMIT" %}
                    </button>
                    <button type="button" class="btn btn-sm btn-action btn-action-outline link-div-modal-modal-action-refresh" data-url="{% url "home:login_forgot_credential_2" pk=ctx_form.instance.pk %}{% if ctx_tab_localuserlogin_forgot_credential == True %}?tab_localuserlogin_forgot_credential=True{% else %}{% if ctx_tab_ldapuserlogin_forgot_credential == True %}?tab_ldapuserlogin_forgot_credential=True{% endif %}{% endif %}" title="{% trans "SECURITY_ACTION_REFRESH" %}">
                        <i class="fa fa-refresh"></i> <span class="d-none d-md-inline-block">{% trans "SECURITY_ACTION_REFRESH" %}</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-action btn-action-outline link-div-modal-modal-action-close" title="{% trans "SECURITY_ACTION_CLOSE" %}">
                        <i class="fa fa-close"></i> <span class="d-none d-md-inline-block">{% trans "SECURITY_ACTION_CLOSE" %}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
